.supriya {
    background-image: url("https://image.shutterstock.com/image-photo/panorama-beautiful-countryside-romania-sunny-260nw-1302294157.jpg");
    background-size:cover;
    background-color: #cccccc;
   }